{% extends "base.html" %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Add Module</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-6">

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">New Module</h3>
                            </div>


                            <form data-bitwarden-watching="1" method="post">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="moduleAddress">Module Address (HEX)</label>
                                        <input type="text" class="form-control" id="moduleAddress" name="module_address"
                                               placeholder="Enter Device Address" required
                                               value="{{ module_info.address_hex|default_if_none:"" }}">
                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary" name="addrForm">Probe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Dev Info</h3>
                            </div>


                            <form data-bitwarden-watching="1" method="post">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="devName">Device Name</label>
                                        <input type="text" class="form-control" id="devName" name="dev_name"
                                               placeholder="Enter Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="devType">Device Type</label>
                                        <input type="text" class="form-control" id="devType"
                                               placeholder="Device Type" readonly="readonly"
                                               value="{{ module_info.type_name|default_if_none:"" }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="serialNumber">Serial Number</label>
                                        <input type="text" class="form-control" id="serialNumber" name="dev_sn"
                                               placeholder="SN" readonly="readonly"
                                               value="{{ module_info.sn|default_if_none:"" }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="firmwareVersion">Firmware Version</label>
                                        <input type="text" class="form-control" id="firmwareVersion" name="dev_fw"
                                               placeholder="Firmware version" readonly="readonly"
                                               value="{{ module_info.fw|default_if_none:"" }}">
                                    </div>
                                </div>
                                <input type="hidden" name="dev_addr"
                                       value="{{ module_info.address|default_if_none:"" }}">
                                <input type="hidden" name="dev_type" value="{{ module_info.type }}" >
                                <div class="form-group">
                                    <label>Values Supported</label>
                                    {% for ch in module_info.channels %}
                                        <span class="badge badge-info">
                                            {{ ch }}
                                            </span>

                                    {% endfor %}
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary" name="devForm" {% if not module_info.type %}
                                            disabled {% endif %}>Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}