{% extends "base.html" %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Default box -->
                        {% for module in modules %}
                            <div class="card">
                                <div class="card-header {% if module.status == 0 %} bg-gradient-green {% else %}bg-gradient-red{% endif %}">
                                    <h3 class="card-title"></h3>
                                    {{ module.name }} - {{ module.type }}
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    {% for ch in module.channels %}

                                        <iframe src="{{ grafana_ulr }}d-solo/{{ module.dash_uid }}/{{ module.dash_slug }}?orgId=1&from=now-5m&panelId={{ ch }}&refresh=1m"
                                                width="450" height="200"></iframe>
                                    {% endfor %}

                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                        Address: {{ module.address_hex }}
                                        <a href="{{ grafana_ulr }}d/{{ module.dash_uid }}/{{ module.dash_slug }}?orgId=1" type="button" class="btn btn-sm btn-primary float-right">
                                        Grafana
                                        </a>
                                </div>
                                <!-- /.card-footer-->
                            </div>
                            <!-- /.card -->
                        {% endfor %}

                    </div>

                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}