{% extends "base.html" %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Modules</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <!-- Default box -->
                        {% for module in modules %}
                            <div class="card">
                                <div class="card-header {% if module.status == 0 %} bg-gradient-green {% else %}bg-gradient-red{% endif %}">
                                    <h3 class="card-title"></h3>
                                    {{ module.name }} - {{ module.type }}
                                    <div class="card-tools">
                                        <form method="post">
                                            {% csrf_token %}
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                            <input type="hidden" name="remove-addr" value="{{ module.address }}">
                                            <button type="submit" class="btn btn-tool" title="Remove">
                                                <i class="fas fa-times text-red"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        {% for ch in module.channels %}
                                            <li>
                                                {{ ch }}
                                            </li>

                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    Address: {{ module.address_hex }}
                                    <a href="/controller/limit/edit?dev={{ module.address }}" type="button" class="btn btn-sm btn-primary float-right">Limits</a>
                                </div>
                                <!-- /.card-footer-->
                            </div>
                            <!-- /.card -->
                        {% endfor %}

                    </div>

                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-block btn-primary btn-lg"
                            onclick="window.location.href='/controller/modules/add'">Add Module
                    </button>
                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}